In [5]:
#Practical-10
#Dhruv thanki
#216270307058
import pandas as pd
import numpy as np

data = {
    "name": ['Superman', 'Batman', 'Spiderman'],
    "toy": [np.nan, 'Batmobile', 'Spiderman toy'],
    "born": [np.nan, pd.Timestamp("1956-06-26"), pd.NaT]
}
df = pd.DataFrame(data)

print("\nAfter Removing Missing Values ")
print(df.dropna())

After Removing Missing Values
     name        toy       born
1  Batman  Batmobile 1956-06-26

In [12]:
import pandas as pd
import numpy as np

# Dictionary
data = {
    'Name': ['Kalpit', 'Dhruv', np.nan, 'Sumit', 'Sumit'],
    'ID': [12, 12, 30, 40, np.nan]
}

# Converting into DataFrame
df = pd.DataFrame(data)

# Before Remove Duplicate values
print("Before Removing Duplicate Values ")
print(df)

# After Removing Duplicate Values
print("\nAfter Removing Duplicate Values "),print(df.drop_duplicates('Name'))

Before Removing Duplicate Values
     Name    ID
0  Kalpit  12.0
1   Dhruv  12.0
2     NaN  30.0
3   Sumit  40.0
4   Sumit   NaN

After Removing Duplicate Values
     Name    ID
0  Kalpit  12.0
1   Dhruv  12.0
2     NaN  30.0
3   Sumit  40.0

(None, None)